[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ansible = "*"
coveralls = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
molecule = "*"


[packages]

elasticsearch = "*"
flask = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
gunicorn = "*"
openlibrary-api = "*"
pyjwt = "*"
pymysql = "*"
python-dotenv = "*"
requests = "*"


[requires]

python_version = "3.6"
