[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pytest-cov = "*"
codecov = "*"
ansible = "*"
"flake8" = "*"


[packages]

flask = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-mail = "*"
pyjwt = "*"
pymysql = "*"
gunicorn = "*"
flask-bootstrap = "*"
flask-moment = "*"


[requires]

python_version = "3.6"
