[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"


[packages]

flask = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-mail = "*"
pyjwt = "*"


[requires]

python_version = "3.6"
