{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
            {{ form.isbn.label }}<br>
            {{ form.isbn(size=13) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
    {% for book in books %}
    <div><p>{{ book.author }} - {{ book.title }}</p></div>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Prev</a>
    {% end if %}
    {% if next_url %}
    <a href="{{ next_url }}">Next</a>
    {% endif %}
{% endblock %}
